html,body{
	margin: 0;
	padding: 0;
}

body{
	padding-bottom: 10px; 
}

.container{
	display: flex;
	flex-flow: row;
  	flex-wrap: wrap;
  	justify-content: space-around;
}

main{
	padding-top: 45px;
    padding-bottom: 45px;
}

.main{
	width: 80%;
	text-align: center;
	margin: 0 auto;	
}

canvas{
	background: black;
	margin-top: 20px;
}

#heading{
	text-align: center;
    font-size: 24px;
    color: #adadad;
    font-weight: 400;
    line-height: 1.7;
    font-family: 'Open Sans', sans-serif;
}

.block{
	flex: 0 0 400px;
}

.block p{
	text-align: center;
	color: #5d5d5d;
	font-size: 25px;
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
}


